.table {
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.table-101 {
    top: 10px;
    left: 140px;
}
.table-102 {
    top: 10px;
    left: 260px;
}
.table-103 {
    top: 100px;
    left: 200px;
}
.table-201 {
    top: 300px;
    left: 240px;
}
.table-202 {
    top: 420px;
    left: 240px;
}
.table-301 {
    top: 50px;
    left: 10px;
}
.table-203 {
    top: 420px;
    left: 490px;
}
.table-601 {
    top: 220px;
    left: 490px;
}
.table-401 {
    top: 220px;
    left: 10px;
}
.table-402 {
    top: 380px;
    left: 10px;
}
.table-302 {
    top: 50px;
    left: 330px;
}
.table-501 {
    top: 11px;
    left: 490px;
}