.table {
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.table-101 {
    top: 30px;
    left: 190px;
}
.table-102 {
    top: 30px;
    left: 320px;
}
.table-103 {
    top: 150px;
    left: 250px;
}
.table-201 {
    top: 400px;
    left: 290px;
}
.table-202 {
    top: 530px;
    left: 290px;
}
.table-301 {
    top: 80px;
    left: 30px;
}
.table-203 {
    top: 530px;
    left: 590px;
}
.table-601 {
    top: 300px;
    left: 590px;
}
.table-401 {
    top: 280px;
    left: 30px;
}
.table-402 {
    top: 480px;
    left: 30px;
}
.table-302 {
    top: 80px;
    left: 420px;
}
.table-501 {
    top: 30px;
    left: 580px;
}