.continer {
  background-color: rgb(184, 184, 184);
  padding: 10px;
  height: 60px;
  width: 200px;
  border-radius: 50px;
  margin-left: 40px;
  margin-top: 40px;
  position: relative;
  line-height: 55px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.7s;
  cursor: pointer;
  img {
    position: absolute;
    height: 70px;
    left: -20px;
    top: -20px;
  }
  h1 {
    text-align: center;
    color: white;
    text-shadow: 3px 3px 10px gray;
    margin: 0px;
  }
}
.continer:hover {
  transform: scale(1.1);
}