body {
    background-image: url("./images/Sales.jpg");
    background: linear-gradient(rgba(0, 0, 150, 0.205), rgba(0, 0, 150, 0.205)), url('./images/Sales.jpg');
    background-size: cover;
}
.continet_app {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    min-height: 1100px;
    .left {

    }
}